<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>This be the sweetest Portfolio the world has ever seen</h1>
	<h2>I am MAX</h2>
	<ul>
		<li><a href="projects" >Projects</a>
		<ul>
			<li><p>Every single one of the projects has been credited with a noble prize.</p></li>
		</ul></li>
		<li><a href="me" title="">About Me</a>
		<ul>
			<li><p>A brief summary about myself and my many accomplishments</p></li>
		</ul></li>
		<li><a href="testimonials" title="">Testimonials</a>
		<ul>
			<li>Just a few of the many postive things people have said about these works</li>
		</ul></li>
		</li>
	</ul>
</body>
</html>