<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>about me</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>About Me</h1>
	<ul>
		<li>I am able to fly but the government has grounded for "buzzing the tower" too many times</li>
		<li>I showed Kenny Loggins how to get to the danger zone</li>
		<li>Taught a German Shepard to bark in French</li>
		<li>Won the lifetime achievement award, Twice</li>
		<li>Can speak French...  in Russian</li>
		<li>Brought a knife to a gun fight... just to even the odds</li>
		<li>No less than 25 Mexican folk songs are written about my beard</li>
		<li>Classified as the most REAL most interesting man in the world</li>
	</ul>
</body>
</html>