<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>testimonials</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>Testimonials</h1>
	<h3>This page inspired me - Mother Teresa</h3>
	<h4>This page single handed saved europe during WWII - Winston Churchill</h4>
	<h4>I wish my companies could be as successful as this webpage has become - Sir Richard Branson</h4>
	<h5>I agree with with Richard Branson - Elon Musk</h5>
	<h5>If this page would have been around when I was in college I would have stolen the idea too - Mark Zuckerberg</h5>
	<h5>I believe in magic now because of this page - Robert De Niro</h5>

</body>
</html>