<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Products</title>
  </head>
  <body>
  	<h1>Products</h1>
  	
  	<p>{{ product }}</p>
  	
  	<h3>New Product Entry</h3>
  	<form action="/new_product" method="post">
	{% csrf_token %}
	Product Name<input type="text" name="product_name"> 
	Description<input type="text" name="description" value="">
	Weight<input type="text" name="weight" value="">
	MSRP<input type="text" name="price" value="">
	Cost<input type="text" name="cost" value="">
	Category<input type="text" name="category" value="">
	<input type="submit" value="submit" value="Submit">
</form>
  </body>
  
</html>
