<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninja Gold</title>
  </head>
  <body>
    <ul>
      <li><form class="" action="index.html" method="post">Farm
        <input type="submit" name="farm" value="submit">
      </form></li>
      <li><form class="" action="index.html" method="post">Cave
        <input type="submit" name="cave" value="submit">
      </form></li>
      <li><form class="" action="index.html" method="post">House
        <input type="submit" name="house" value="submit">
      </form></li>
      <li><form class="" action="index.html" method="post">Casino
        <input type="submit" name="casino" value="submit">
      </form></li>
    </ul>
  </body>
</html>
