<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ninjas</title>
	<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='ninjas.css') }}">
</head>
<body>
	<ul>
		<li>ninja is spelt N I N J A and thats a true fact</li>
		<li>ninjas and pirates are the best friends in the world and have never ever been enemys</li>
		<li>if you ever encounter a ninja the best piece of advise is to remain perfectly still becasue then they cannot see you*</li>
		<li>ninjas are commonly thought of to be japanese but actually they are space beings to travel through transdimensional wormholes to gather intelligence and fight in the galactic wars</li>
		<li>if you say sajnin to a ninja they will be sucked back through the interdimensional portal in which they came to this world</li>
		<li>* this fact might be about dinosaurs not ninjas.</li>
	</ul>
</body>
</html>