<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
      Email:<input type="email" name="email" value="">
      Password:<input type="text" name="password" value="">
      <input type="submit" name="submit" value="submit">
    </form>
    <h1>Register</h1>
    <form action="/register" method="post">
      First name:<input type="text" name="first_name" value="">
      Last name:<input type="text" name="last_name" value="">
      Email:<input type="email" name="email" value="">
      Password:<input type="password" name="password" value="">
      Confirm password:<input type="password" name="confirm_password" value="">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
